.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 899px) {
  .container {
    max-width: 100%;
  }
}
