.cardLink {
  text-decoration: none;
  .card {
    cursor: pointer;
    display: block;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #fff;
    overflow: hidden;
    height: 100%;

    &:hover {
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }

    .tagName {
      position: absolute;
      top: 15px;
      left: 15px;
      padding: 6px 14px;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      border-radius: 4px;
      z-index: 1;
      text-transform: uppercase;
    }

    .cardImageWrapper {
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .cardImage {
        width: 100%;
        height: 200px;
        object-fit: scale-down;
        border-radius: 10px 10px 0 0;
        margin-top: 16px;
      }
    }

    .cardContent {
      padding: 16px;
      h3 {
        margin: 0 0 10px;
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }

      p {
        font-size: 14px;
        color: #777;
        margin-bottom: 15px;
      }

      .cardFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tagEcommerce {
          font-size: 14px;
          font-weight: 600;
          color: #555;
          margin: 0;
        }

        .linkButton {
          cursor: pointer;
          padding: 8px 14px;
          border-radius: 10px;
          border: 1px solid #ee913f;
          background-color: white;
          color: #ee913f;
          font-weight: bold;
          transition: all 0.5s;

          &:hover {
            border: 1px solid #ee913f;
            background-color: #ee7c18;
            color: #ddd;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}
