.searchInput {
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  .searchTitle {
    font-weight: bold;
    color: #333;
    width: 50%;
    font-size: 26px;
  }

  input {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 20px;
    width: 50%;
  }
}

.lobby {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@media screen and (max-width: 1024px) {
  .lobby {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .lobby {
    grid-template-columns: repeat(2, 1fr);
  }
}
